{
  "presets": [
    ["env", {
      "targets": {
        "node:": "6.11"
      },
      "exclude": [
        "check-es2015-constants",
        "transform-es2015-classes",        
        "transform-es2015-arrow-functions",
        "transform-es2015-destructuring"
      ]
    }]
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}